@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --color-fondo: #f2f2f2;
  --color-oscuro: #252525;
  --color-blanco: #fff;
  --color-logo: #84c5b6;
  --color-menu: #16A085;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--font);
  color: var(--color-oscuro);
  background: var(--color-fondo);
}




.container {
  width: 60% !important;
}

.cantidadAgregada {
  margin: 10px;
}

.quantity-input {
  text-align: center;
}



h1 {
  text-align: left;
  font-size: calc(1rem + 1.5vw);
}


.logo_icono {
  width: 50px;
  margin: 10px 20px;
}



.modal-overlay {
  backdrop-filter: blur(5px);
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.5);
}

.quantity-input input {
  max-width: 50px;
}

.card .card-image img {

  max-height: 250px;
  margin: 10px;
}

.card .card-title {
  font-size: 12px !important;

}

.agregarCarrito{
  margin-top:20px;
  
}

.currencyCategory{
  background-color:red;
}


