@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --font: 'Open Sans', sans-serif;
  --color-fondo: #f2f2f2;
  --color-oscuro: #252525;
  --color-blanco: #fff;
  --color-logo: #84c5b6;
  --color-menu: #16A085;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: var(--font);
  color: var(--color-oscuro);
  background: var(--color-fondo);
}


.Navbar {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--color-menu);
}

.Navbar h2 {
  padding: 0.25rem 0.75rem;
  font-size: 2.5rem;
  color: var(--color-oscuro);
  background: var(--color-logo);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 60% !important;
}

.cantidadAgregada {
  margin: 10px;
}

.quantity-input {
  text-align: center;
}

.Navbar ul {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0.75rem;
  list-style: none;
}

.Navbar ul li {
  margin: 0 0.75rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.Navbar ul li a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.25rem;
  letter-spacing: 0.2rem;
  position: relative;
}

.Navbar ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-out;
}


.Navbar ul li a:before {
  background: var(--color-menu);
}

.Navbar ul li a:hover:before {
  bottom: -5px;
}

h1 {
  color: var(--color-logo);
  text-transform: uppercase;
  text-align: center;
  margin-top: 20vh;
  font-size: calc(2rem + 1.5vw);
}


.logo_icono {
  width: 50px;
  margin: 10px 20px;
}

nav {
  backdrop-filter: blur(15px) brightness(75%) saturate(70%);
}

.modal-overlay {
  backdrop-filter: blur(5px);
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.5);
}

.quantity-input input {
  max-width: 50px;
}

.card .card-image img {

  max-height: 250px;
  margin: 10px;
}

.card .card-title {
  font-size: 12px !important;

}

.agregarCarrito{
  margin-top:20px;
  
}

@media (max-width: 750px) {
  .Navbar h2:before {
    display: none;
  }
}

@media (max-width: 400px) {
  .Navbar h2 {
    display: none;
  }

  .Navbar ul {
    grid-column: 1/3;
    flex-direction: column;
    align-items: center;
  }

  .App .Navbar ul li {
    margin: 0.5rem 0;
  }
}