.total {
  text-align: right;
}

th,
td {
  word-wrap: break-word;
}

table {
  table-layout: fixed;

  width: 100%;
  background-color: white;
  margin-top: 50px;
  padding: 20px;
}

.cart {
  width: 80px;
}
.strong{
  font-weight: 600;
}
.widgetCantidad {
  background-color: #c33808;
  color: white;
  font-weight: 600;
  border-radius: 40px;
  padding: 2px 7px;
  font-size: 18px;
}

.iconCantidad {
  display: -webkit-inline-box;
}

.ocultar {
  display: none;
}

.formulario {
 
  padding: 30px;

}
.btn, .btn-large, .btn-small {

  background-color: #150c7b;
}